.btn {
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-right: 35rem;
  margin-top: 15px;
}

.btn a {
  text-decoration: none;
  color: black
}

.btn:hover {
  background-color: gray;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .evento-detalhe {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
  }
  
  .evento-detalhe h2 {
    font-size: 2rem;
    color: #333;
  }
  
  .evento-detalhe p {
    font-size: 1.2rem;
    color: #666;
  }
  
  .evento-detalhe img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 15px;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .evento-detalhe {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
  }
  
  .evento-detalhe h2 {
    font-size: 2rem;
    color: #333;
  }
  
  .evento-detalhe p {
    font-size: 1.2rem;
    color: #666;
  }
  
  .evento-detalhe img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 15px;
  }
    